/* styles/AboutUs.module.css */

.aboutUs {
    background: var(--clr-slate600);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
  
.aboutUs h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
  
.aboutUs p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: justify;
}

.businessInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Added margin for spacing */
    padding: 20px; /* Added padding for better spacing */
    background: var(--clr-slate200); /* Added background color for better visibility */
    border-radius: 10px; /* Added border-radius for styling */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box-shadow for styling */
  }
  

.businessInfo p {
    display: flex;
    padding: 20px;
    margin: 10px 0; /* Added margin for better spacing */
    text-align: center; /* Centered text within the p elements */
    font-size: 1.1rem; /* Adjusted font size for better readability */
}


  