/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    border: 5px solid;
    border-color: blueviolet;
  }

/* xs */
@media (min-width: 475px) {
    .container {
        border-color: blueviolet;
        /* add styles for xs screen size */
      }
}

/* sm */
@media (min-width: 640px) {
    .container {
      border-color: red;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
      border-color: limegreen;
      }
}

/* lg */
@media (min-width: 1024px) {
    .container {
      border-color: yellow;
      }
}

/* xl */
@media (min-width: 1280px) {
    .container {
      border-color: black;
      }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
      border-color: pink;
      }
}
