/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    border: 5px solid;
    border-color: blueviolet;
  }

.contentWithBanner {
    padding-top: 40px; /* Adjust according to the height of your banner */
  }

.section {
    margin-top: 5rem;
  }
  
/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
        border-color: blueviolet;
        /* add styles for xs screen size */
      }
}

/* sm */
@media (min-width: 640px) {
    .container {
      max-width: 640px;
      border-color: red;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
      max-width: 768px;
      border-color: limegreen;
      }
}

/* lg */
@media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      border-color: yellow;
      
      }
      .section {
        margin-top: 10rem;
      }
}

/* xl */
@media (min-width: 1280px) {
    .container {
      max-width: 1280px;

      border-color: pink;
      }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
      max-width: 1536px;
      border-color: purple;
      }
}
