.navbar {
  display: flex;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 40px;
  padding: 5px 20px; /* Reduce padding */
  height: 60px; /* Set a fixed height */
  justify-content: space-between;
  align-items: center;
  margin-top: 40px; /* Adjust this value based on the banner height */
  z-index: 999; 
  font-size: var(--size-xs);
  background-color: black;
}

.navbar__image {
  width: 150px;
}

.navbar__link {
  display: none; /* Hide links */
  text-decoration: none;
  color: var(--clr-slate400);
  position: relative; /* For hover effect */
  margin: 0 10px; /* Add margin for spacing */
  padding: 10px 0; /* Add padding for better click area */
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar__link:hover {
  color: #add8e6; /* Change to lighter blue */
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #add8e6; /* Change to lighter blue */
  transition: width 0.3s ease; /* Smooth width transition */
}

.navbar__link:hover::after {
  width: 100%; /* Full width on hover */
}

.navbar__button {
  display: flex; /* Show button */
  color: var(--clr-slate400);
  width: var(--size-4xl);
  height: var(--size-4xl);
  background: transparent; /* Ensure background is transparent */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to pointer */
}

.navbar__button:hover {
  color: #add8e6; /* Change to lighter blue */
}

.navbar__button__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  font-size: var(--size-sm);  
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
  flex-direction: column; /* Add this */
}

.navbar__button__menu ul {
  text-align: center;
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove padding */
}

.navbar__button__menu li {
  padding: 20px; /* Add this */
}

.navbar__button__menu a {
  font-size: var(--size-2xl);
  text-decoration: none; /* Add this */
  color: var(--clr-slate400); /* Ensure link color is consistent */
  position: relative; /* For hover effect */
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar__button__menu a:hover {
  color: #add8e6; /* Change to lighter blue */
}

.navbar__button__menu a::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust position as needed */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #add8e6; /* Change to lighter blue */
  transition: width 0.3s ease; /* Smooth width transition */
}

.navbar__button__menu a:hover::after {
  width: 100%; /* Full width on hover */
}

/* sm */
@media (min-width: 640px) {
  .navbar {
    font-size: var(--size-sm);
  }

  .navbar__link {
    display: block; /* Show links by default */
    padding: 3px;
    margin: auto;
  }

  .navbar__button {
    display: none; /* Hide button by default */
  }
}

/* lg */
@media (min-width: 1024px) {
  .navbar {
    font-size: var(--size-lg);
  }
  .navbar__image {
    width: 250px;
  }
}
