.banner {
    width: 100%;
    background-color: var(--clr-slate600);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 40px;
  }
  
.banner a {
    color: #00f;
    text-decoration: none;
}
  
/* sm */
/* @media (min-width: 640px) {
    .banner {
      font-size: var(--size-sm);
    }
} */
  
/* md */
@media (min-width: 768px) {
    .banner {
      font-size: var(--size-lg);
    }
}
  