/* Fixed Banner */
.banner {
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 50px; /* Fixed height for consistent padding */
  }
  
  .banner a {
    color: #00f;
    text-decoration: none;
  }
  
  
  .banner a {
    color: #00f;
    text-decoration: none;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .banner {
      font-size: 0.9rem;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .banner {
      font-size: 1rem;
    }
  }
  