/* GoogleMap.module.css */
.infoWindow {
    font-size: var(--size-sm);
    background-color: white;
    color: black;
    padding: 2px;
}

.map {
    width: 100%; /* Change this to your desired width */
    height: 100%; /* Change this to your desired height */
    border-radius: 10px;
  }
  