/* footer.module.css */
.footer {
  display: flex;
  justify-content: center;
  background: grey;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: auto;
}

.footer__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  margin: auto;
}

.footer__box ul {
  list-style: none;
  padding: 0;
}

.footer__box li {
  margin: 5px 0;
}

.footer__box__social__icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icon {
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}

.icon:hover {
  color: var(--clr-indigo);
}

/* xs */
/* @media (min-width: 475px) {
  } */

/* sm */
/* @media (min-width: 640px) {
  .footer__box {
      width: var(--size-2xl) ; 
  }

}  */

/* md */
@media (min-width: 768px) {
  .footer {
    flex-wrap: nowrap; 
}
} 

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */