.footer {
    display: flex;
    justify-content: center;
    background: grey;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: auto
}

.footer .box {
    display: flex;
    width: 200px;
    padding: 10px
}

.footer .ul {
    list-style: none;
    padding: 100px
}

.footer .li {
    color: black
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
    .footer {
      height: 30px;
      padding: 5px;
    }
  }