/* styles/areas.module.css */
.areasWeServe {
  text-align: center;
  background-color: black;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapContainer {
  width: 100%;
  max-width: 1280px; /* Constrain the maximum width of the map */
}

.map {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.areasListContainer {
  width: 100%;
  max-width: 1280px; /* Constrain the maximum width of the map */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #b2bcff, #5a96ff);
  padding: 2rem 1rem;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.areasListContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.areasListContainer p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: white;
}

.areasListWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 3rem; /* Add gap between the lists */
  width: 100%;
}

.areasListWrapper ul {
  padding: 0;
  list-style: none;
}

.areaItem {
  margin: 0.5rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

.areaItem::before {
  content: "—"; /* Stylish dash mark */
  margin-right: 0.5rem;
  color: white;
}

/* sm */
@media (min-width: 640px) {
  .areasListContainer h2 {
    font-size: 2rem;
  }

  .areasListContainer p {
    font-size: 1rem;
  }

  .areasListWrapper {
    gap: 6rem;
  }

  .areasListWrapper li {
    font-size: 18px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .areasListContainer h2 {
    font-size: 2.5rem;
  }

  .areasListContainer p {
    font-size: 1.5rem;
  }

  .areasListWrapper {
    gap: 8rem;
  }

  .areasListWrapper li {
    font-size: 22px;
  }
}
