/* styles/areas.module.css */
.areasWeServe {
  text-align: center;
  background-color: black;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.areasListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #b2bcff, #5a96ff);
  padding: 2rem 1rem;
}

.areasListContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.areasListContainer p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: white;
}

.areasListWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 3rem; /* Add gap between the lists */
  width: 100%;
  max-width: 1200px;
}

.areasListWrapper ul {
  padding:0
}

.areasListWrapper li {
  font-size: 12px
}

.areaItem {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}

.areaItem::before {
  content: "—"; /* Stylish dash mark */
  margin-right: 0.5rem;
  color: white;
}

.markerLabel {
  background-color: white;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  white-space: nowrap;
  transform: translate(-50%, -25px); /* Adjust position to avoid overlapping */
}


/* xxs */
/* @media (min-width: 320px) {
  
} */

/* xs */
/* @media (min-width: 475px) {

} */

/* sm */
@media (min-width: 640px) {
  .areasListContainer h2 {
    font-size: 2rem;
  }
  
  .areasListContainer p {
    font-size: 1rem;
  }

  .areasListWrapper {
    gap: 6rem; /* Add gap between the lists */
  }
  
  .areasListWrapper li {
    font-size: 18px
  }
  
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .areasListContainer h2 {
    font-size: 2.5rem;
  }
  
  .areasListContainer p {
    font-size: 1.5rem;
  }

  .areasListWrapper {
    gap: 8rem; /* Add gap between the lists */
  }
  
  .areasListWrapper li {
    font-size: 22px
  }
}

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {} */